body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 100%;
    min-height: 90vh;
}

.game-area,
.color-selection-area,
.settings {
    border-color: red;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}

.game-setup {
    display: flex;
    height: 100px;
    width: 1000px;
    padding: 0px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.game-area {
    display: flex;
    height: 800px;
    width: 800px;
    flex-grow: 0;
    flex-wrap: wrap;
    gap: 0px;
    padding: 0px;
    justify-content: space-evenly;
    align-items: center;

}

.color-selection-area {
    flex: none;
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    height: 100px;
    margin: 0px;
    justify-content: space-evenly;
    align-items: center;
}

.color {
    flex: none;
    width: 30px;
    height: 30px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.random {
    flex: none;
    width: 30px;
    height: 30px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-image: url('./Random.jpg');
    background-size: cover;
    background-position: center;
}

.settings {
    flex: none;
    display: flex;
    width: 30%;
    height: 100px;
    margin: 0px;
    justify-content: space-around;
    align-items: center;
}

.toggle-painting-area {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-size-selector {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pixel {
    border-color: rgba(0, 0, 0, 0.3);
    border-style: dotted;
    border-width: 1px;
    width: 15px;
    height: 15px;
    margin: 0px;

}

#board-size {
    text-align: center;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 4px;
    height: 15px;
    line-height: 2em;
    width: 50px;
}

.text {
    font-size: small;
}

.toggle-painting.text {
    margin: 10px 0px 16px 0px;
}

/* Unnecessary over-styling */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}


/* CSS */
#clear-button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

#clear-button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

#clear-button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

#clear-button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

#clear-button:focus {
    outline: 1px transparent;
}

#clear-button:before {
    display: none;
}

#clear-button:-webkit-details-marker {
    display: none;
}